html{
  width: 100vw;
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.todo-list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.w-100{
  width: 100% !important;
}

.margin-h-1{
  padding-inline: 16px !important;
}