html{
  width: 100vw;
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
}

.app-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 480px;
  padding-inline: 16px;
}

.todo-list-item{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.todo-list-item-text{
  flex-grow: 1;
  text-align: left;
}

.item-done > span{
  text-decoration: line-through;
}

.margin-h-1{
  padding-inline: 16px !important;
}